.flex-row {
    display: flex;
    flex: 1;
    justify-content: space-around;

    border-bottom-style: dotted;
    border-width: 0.2vh;
}

.board>.flex-row:nth-of-type(3n):not(:last-child) {
    border-bottom-style: solid;
    border-bottom-width: 0.4vh;
}

.flex-item {
    flex: 1 0 0;

    border-right-style: dotted;
    border-width: 0.2vh;
    border-color: inherit;
}
.flex-item:before {
    content: '';
    float: left;
    padding-top: 100%;
}

.board>.flex-row>.flex-item:nth-child(3n):not(:last-child) {
    border-right-style: solid;
    border-right-width: 0.4vh;
}

.control>* {
    border-color: transparent;
}

.control.complete {
    flex: 0;
    animation-name: control-anim;
    animation-duration: 750ms;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

@keyframes control-anim {
    0% { flex: 0.33 }
    100% { flex: 0 }
}

.description {
    clip: rect(0, 0, 0, 0);
}

.button-menu {
    float: right;
}

.button-menu>* {
    cursor: pointer;
    opacity: 0.6;
    transition-duration: 0.3s;
    transition-property: opacity;

}

.button-menu>*:hover {
    opacity: 1;
}
