.board>.flex-row:nth-of-type(3n):not(:last-child)>.flex-item {
    border-bottom-style: solid;
    border-bottom-width: 0.3vh;
}

.board>.flex-row>.flex-item:nth-child(3n):not(:last-child) {
    border-right-style: solid;
    border-right-width: 0.3vh;
}

.control>* {
    border-color: transparent;
}

.control.complete {
    flex: 0;
    animation-name: control-anim;
    animation-duration: 750ms;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

@keyframes control-anim {
    0% { flex: 0.33 }
    100% { flex: 0 }
}

.description {
    clip: rect(0, 0, 0, 0);
}

.button-menu {
    float: right;
}

.button-menu>* {
    cursor: pointer;
    opacity: 0.6;
    transition-duration: 0.3s;
    transition-property: opacity;

}

.button-menu>*:hover {
    opacity: 1;
}
