.flex-row {
    display: flex;
    justify-content: space-around;

    border-bottom-style: dotted;
    border-width: 1px;
}

.flex-row:nth-child(3n) {
    border-bottom-style: solid;
    border-bottom-width: 2px;
}
.flex-row:first-child {
    border-top-style: none;
}
.flex-row:last-child {
    border-bottom-style: none;
}

.flex-item {
    flex: 1 0 0;

    border-right-style: dotted;
    border-width: 1px;
    border-color: inherit;
}
.flex-item:before {
    content: '';
    float: left;
    padding-top: 100%;
}

.flex-item:nth-child(3n) {
    border-right-style: solid;
    border-right-width: 2px;
}
.flex-item:first-child {
    border-left-style: none;
}
.flex-item:last-child {
    border-right-style: none;
}

.title {
    font-size: 2em;
    font-weight: bold;
}

.timer {
    font-size: 1em;
}

.control {
    margin-top: 20px;
}
.control>* {
    border-color: transparent;
}
