#main-interface {
    display: flex;
    margin: 0 auto;
    padding: 0 2vh;
    height: 100%;
    width: 70vh;
    max-width: calc(100vw - 4vh);

    flex-direction: column;
    justify-content: space-evenly;
}

#main-interface>* {
    overflow: hidden;
    animation-name: transition-anim;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

@keyframes transition-anim {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

