#main-interface {
    display: flex;
    margin: 0 auto;
    padding: 0 2vh;
    height: 100%;
    width: 70vh;

    flex-direction: column;
    justify-content: space-evenly;
}

#main-interface>* {
    margin: 2vh 0;
}
#main-interface>*:first-child {
    margin: 2vh 0 0 0;
}
#main-interface>*:last-child {
    margin: 0 0 2vh 0;
}
