#main-interface {
    display: flex;
    margin: 0 auto;
    padding: 0 2vh;
    height: 100%;
    width: 70vh;

    flex-direction: column;
    justify-content: space-evenly;
}

#main-interface>* {
    overflow: hidden;
}
