.menu>* {
    margin: 2vh 0;
}

.flex-row {
    display: flex;
    justify-content: space-around;

    border-bottom-style: dotted;
    border-width: 0.2vh;
}
.flex-row:last-child {
    border-bottom-style: none;
}

.flex-item {
    flex: 1 0 0;

    border-right-style: dotted;
    border-width: 0.2vh;
    border-color: inherit;
}
.flex-item:before {
    content: '';
    float: left;
    padding-top: 100%;
}

.flex-item:last-child {
    border-right-style: none;
}

.scoreboard {
    display: flex;
    font-size: 2vh;
}
.scoreboard[open] summary ~ * {
    animation-name: details-anim;
    animation-duration: 1s;
}
@keyframes details-anim {
    0% { opacity: 0; margin-left: -10vh; margin-right: 10vh; }
    100% { opacity: 1; margin-left: 0vh; margin-right: 0; }
}

.score {
    border-top-style: solid;
    border-width: 0.1vh;
    padding: 0 1vw;
}
.score:last-child {
    border-bottom-style: solid;
}

.score>*:last-child {
    float: right;
}
