.menu>* {
    margin: 2vh 0;
}

.scoreboard {
    display: flex;
    font-size: 2vh;
    line-height: 2.5vh;
}

.score {
    padding: 0 1vw;
    opacity: 0.6;
    transition-property: opacity;
    transition-duration: 300ms;
}
.score:hover {
    opacity: 1;
}

.score>div {
    animation-name: details-anim;
    animation-duration: 1000ms;
}

@keyframes details-anim {
    0% { opacity: 0; margin-left: -10vh; margin-right: 10vh; }
    100% { opacity: 1; margin-left: 0vh; margin-right: 0; }
}

.score>div>*:last-child {
    float: right;
}
