.menu>* {
    margin: 2vh 0;
}

.scoreboard {
    display: flex;
    font-size: 2vh;
}
.scoreboard[open] summary ~ * {
    animation-name: details-anim;
    animation-duration: 1s;
}
@keyframes details-anim {
    0% { opacity: 0; margin-left: -10vh; margin-right: 10vh; }
    100% { opacity: 1; margin-left: 0vh; margin-right: 0; }
}

.score {
    border-top-style: solid;
    border-width: 0.1vh;
    padding: 0 1vw;
}
.score:last-child {
    border-bottom-style: solid;
}

.score>*:last-child {
    float: right;
}
