* {
    scroll-behavior: smooth;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

html, body {
    height: 100%;
    width: 100%;

    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 3vh;
    line-height: 3vh;

    overflow: hidden;
}

body {
    margin: 0;
}

:focus {
    outline: none;
}

div {
    margin: 0;
    padding: 0;
}

.title {
    font-size: 5.5vh;
    line-height: 5.5vh;
    font-weight: bold;
}

.flex-row {
    display: flex;
    flex: 1 0 0;
    justify-content: space-around;
}
.flex-row:not(:last-child)>.flex-item {
    border-bottom-style: dotted;
    border-width: 0.2vh;
}

.flex-item {
    flex: 1 0 0;

    border-width: 0.2vh;
    border-color: inherit;
}
.flex-item:before {
    content: '';
    float: left;
    padding-top: 100%;
}
.flex-item:not(:last-child) {
    border-right-style: dotted;
    border-width: 0.2vh;
    border-color: inherit;
}

body, #main-interface {
    -webkit-app-region: drag;
}
*:not(body):not(#main-interface) {
    -webkit-app-region: no-drag;
}

path {
    fill: inherit;
}
